* {
  margin: 0;
  padding: 0;
  color: white;
}

a {
  color: white;
}

body {
  background: #10020f;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 190px;
  background: #10020f;
  text-align: center;
  padding-top: 50px;
  min-width: 660px;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 60px;
  line-height: 60px;
}

.result {
  margin: 30px auto;
  text-align: center;
}
.result h3 {
  display: inline-block;
}

.result a {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  padding: 7px;
  margin-left: 10px;
  border: 1px solid white;
  border-radius: 3px;
}
.result a:hover {
  background: white;
  color: #10020f;
  animation: fadeIn 0.2s linear;
}
@keyframes fadeIn {
  from {
    background: #10020f;
    color: white;
  }
  to {
    background: white;
    color: #10020f;
  }
}

.field,
main {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  margin: 20px 20px;
  text-align: left;
}
main {
  margin-top: 245px;
}
