<!DOCTYPE html>
<html>
  <head>
    <title>Job Search</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/report.css')}}"
    />
  </head>

  <body>
    <header>
      <h1>Search Results</h1>
      <div class="result">
        <h3>Found {{resultsNumber}} results for: {{searchingBy}}</h3>
        <a href="/export?word={{searchingBy}}">Export to CSV</a>
      </div>
      <div class="field">
        <h4>Title</h4>
        <h4>Company</h4>
        <h4>Location</h4>
        <h4>Time</h4>
        <h4>Link</h4>
      </div>
    </header>
    <main>
      {% for job in jobs %}
      <span>{{job.title}}</span>
      <span>{{job.company}}</span>
      <span>{{job.location}}</span>
      <span>{{job.time}}</span>
      <a href="{{job.link}}" target="_blank">Apply</a>
      {% endfor %}
    </main>
  </body>
</html>
